<ion-header>
  <ion-toolbar class="ion-safe-area-wrapper">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <form (ngSubmit)="login()" [formGroup]="credentials">
    <img src="../../assets/Logo.jpg" alt="">
    <h5 class="login-title">Login</h5>
    <div class="input-group">
      <ion-item>
        <ion-input type="email" placeholder="User Name" formControlName="email"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
        <span *ngIf="email.errors?.required">User Name is required</span>
        <span *ngIf="email.errors?.email">User Name is invalid</span>
      </div>
    </div>
    <div class="input-group">
      <ion-item>
        <ion-input [type]="inputType" placeholder="Password" formControlName="password"></ion-input>
        <ion-icon name="eye-outline" *ngIf="showPassword else eyeOff" (click)="showinputPassword()"></ion-icon>
        <ng-template #eyeOff>
          <ion-icon name="eye-off-outline" (click)="hidePassword()"></ion-icon>
        </ng-template>

      </ion-item>
      <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
        <span *ngIf="password.errors?.required">Password is required</span>
        <span *ngIf="password.errors?.minlength">Password needs to be 6 characters</span>
      </div>
    </div>

    <ion-button type="submit" expand="block" [disabled]="!credentials.valid">Log in</ion-button>
    <ion-button type="button" expand="block" [routerLink]="['/forgetpassword']" class="forget-link">Forgot
      Password?
    </ion-button>
    <ion-button type="button" expand="block" [routerLink]="['/signup']" class="forget-link">Not yet a
      member?
      Sign up!
    </ion-button>

    <!-- <ion-button type="button" expand="block" color="tertiary">
    <ion-icon name="logo-google" slot="start"></ion-icon>
    Sign in with Google
  </ion-button>
  <ion-button type="button" expand="block" color="tertiary">
    <ion-icon name="logo-apple" slot="start"></ion-icon>
    Sign in with Apple
  </ion-button> -->
  </form>
</ion-content>