<ion-content class="front-page-wrap">
  <!-- <ion-slides pager="true">

    <ion-slide>
      <ion-text color="light">
        <img src="../../assets/Logo.jpg">
        <h1>Hey there!</h1>
        <p>Detoximind offers a safe space for tweens, teens and young adults who are grappling with stress, low
          self-esteem,
          bullying, anxiety or depression.</p>
        <ion-button (click)="next()" fill="outline">Next</ion-button>
      </ion-text>
    </ion-slide>

    <ion-slide>
      <ion-text color="light">
        <img src="../../assets/Logo.jpg">
        <h1>It's Ionic!</h1>
        <p>You can be a friend, parent, mental health professional, educator or a motivational coach. Through the
          Detoximind
          platform you can extend motivating and counseling in 1-1 or group settings, you can be a speaker at a
          Detoximind
          workshop, or you can lend a helping hand to organize one of our upcoming events.</p>
        <ion-button (click)="start()" fill="outline">Start</ion-button>
      </ion-text>
    </ion-slide>

  </ion-slides> -->
</ion-content>