ion-header {
    ion-toolbar {
        --background: #0F1B41;
        --color: #FFFAEA;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
        padding: 10px !important;

        ion-back-button {
            color: #fff;
        }
    }

    ion-title {
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}

ion-content {
    --background: #0F1B41;
}

.ion-activated {
    --background: #0F1B41;
    --color: #FFFAEA;
}

// ion-content{
//     --background:#D3E7FF;
// }
.all_category_div_wrapper {
    display: flex;
    padding: 4px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    div {
        background: #074468;
        width: auto;
        margin: 4px 4px 10px;
        padding: 10px;
        border-radius: 9px;
    }
}

.active {
    background: #7f9395 !important;
}

ion-card {
    --background: #fff;

    ion-card-title {
        color: #000;
    }
}

::ng-deep ion-card ion-icon {
    color: #fff;
}

::ng-deep ion-tab-bar {
    --background: #fff;

    ion-tab-button {
        --color: #0C1A40;
    }

    ion-tab-button.tab-selected {
        color: #009688;
    }
}

ion-avatar {
    --border-radius: 200px;
}

ion-item {
    --border-radius: 30px;
    --background: transparent;
}

.meditation-wrapper ion-label {
    color: #fff;
}

.meditation-wrapper ion-avatar img {
    max-width: 40px;
    height: 40px;
}