ion-header {
    background: #0F1B41;
    --color: #FFFAEA;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    padding: 20px 0;
    ion-toolbar {
        --background: transparent;
    }
    ion-back-button {
        --color: #fff;
    }
    ion-title {
        color: #fff;
        font-size: 25px;
        text-align: center;
        margin-bottom: 15px;
        text-transform: uppercase;
        font-family: "Roboto", serif;
        line-height: 2;
        padding-right: 10px;
    }
}

.forget_enter_emailscreen {
    padding: 10px;
}

ion-button {
    --background: #0F1B41;
    --color: #fff;

}

ion-content {
    --background: #0F1B41;

    img {
        max-width: 150px;
        display: block;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
        border-radius: 5px;
        margin: 30px auto;
    }

    ion-item {
        --background: transparent;
        --color: #fff;
        --placeholder-color: #fff;
        // border: 1px solid #fff;
    }

    form {
        --background: transparent;
        text-align: center;
        margin: 30px;
        div {
            border-radius: 10px;
            overflow: hidden;
            margin-bottom: 15px;
            border: 1px solid #fff;

        }

        ion-item {
            --background: transparent;

            ion-label {
                --color: #fff;
            }

            ion-input {
                --color: #fff;
            }
        }

        ion-button {
            --background: #fff;
            --color: #0F1B41;
            --border-radius: 25px;
            min-width: 100px;
            display: inline-block;
            margin: 0 auto;
            box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
        }
    }
}
.forget_newpassword_screen {
  
    ion-item {
        --color: #fff;
        --placeholder-color: #fff;
        border: 1px solid #fff;
        margin-bottom: 15px;
        border-radius: 10px;
    }
}
