<ion-header class="header">
  <ion-toolbar class="ion-safe-area-wrapper">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Forget Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="forget_enter_emailscreen" *ngIf="sendEmail else newPassword">
    <img src="../../assets/Logo.jpg" alt="">
    <form (ngSubmit)="sendEmailVerification()" [formGroup]="credentialsEmail">
      <div>
        <ion-item class="item-fill-none" lines="none">
          <ion-input formControlName="email" type="email" placeholder="email"></ion-input>
          <ion-icon name="mail" color="#fff"></ion-icon>
        </ion-item>
      </div>
      <ion-button expand="block" type="submit" [disabled]="!credentialsEmail.valid">Continue</ion-button>
    </form>
  </div>
  <ng-template #newPassword>
    <div class="forget_newpassword_screen">
      <form (ngSubmit)="forgetPassword()" [formGroup]="credentials">
        <img src="../../assets/Logo.jpg" alt="">
        <ion-item class="item-fill-none" lines="none">
          <ion-input formControlName="password" type="password" placeholder="New Password"></ion-input>
          <!-- <ion-icon name="lock-open" *ngIf="showlockPassword else lockclosed" (click)="showlockPassword()"></ion-icon>
          <ng-template #lockclosed>
            <ion-icon name="lock-closed" (click)="hidelockPassword()"></ion-icon>
          </ng-template> -->
          <ion-icon name="lock-open"></ion-icon>
        </ion-item>

        <ion-item class="item-fill-none" lines="none">
          <ion-input [type]="inputType" formControlName="confirmPassword" type="password"
            placeholder="Confirm Password"></ion-input>
          <ion-icon name="eye-outline" *ngIf="showPassword else eyeOff" (click)="showinputPassword()"></ion-icon>
          <ng-template #eyeOff>
            <ion-icon name="eye-off-outline" (click)="hidePassword()"></ion-icon>
          </ng-template>
        </ion-item>

        <ion-item class="item-fill-none" lines="none">
          <ion-input formControlName="restCode" type="text" placeholder="Reset Code" [(ngModel)]="resetcode">
          </ion-input>
          <ion-icon name="refresh" (click)="reset()"></ion-icon>
        </ion-item>

        <ion-button expand="block" [disabled]="!credentials.valid" type="submit">Continue</ion-button>
      </form>
    </div>
  </ng-template>
</ion-content>